<div class="wrapper">

  <div class="left-bar">
    <%= render "shared/left_bar" %>
  </div>

  <div class="main-bar">
    <div class="head-bar"> 
      <%= render "shared/main_bar" %>
    </div>
  </div>

    <div class="right-bar">
    <%= render "shared/right_bar" %>
  </div> 

</div>