<div class="head-bar">
  <h1 class="title-name">
    テニス
  </h1>
   <ul class="lists-top">
     <%# <% if user_signed_in? %>
      <%# <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
      <%# <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <%# <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    </ul>
</div>


<div class="bottom-bar"> した</div>

