.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-bar{
  background-color:white;
  width: 10%;
  height: 100%;
}

.main-bar{
  width: 80%;
  height: 100%;
}

.head-bar{
  display:flex ;
  background-color: yellow;
  height: 60px;
}

.bottom-bar{
  background-color: turquoise;
  height: calc(100vh - 60px);
}

.title-name{
  color: black;
  font-size: 20px;
}

.lists-top{
  display: flex;
}



.right-bar{
  background-color:white;
  width: 10%;
  height: 100%;
}